.main {
    margin: 0px 40px;
}

.about-travelaja {
    display: flex;
    align-items: center;
    margin-bottom: 6.25rem;
}

.girls-image {
    width: 23.75rem;
    height: 30.875rem;
    margin-left: 1.25rem;
}

.main-text {
    font-size: 1.73rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #3D3E48;
    line-height: 2rem;
    margin-bottom: 1.25rem;
}

.paragraph-text {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #3D3E48;
    line-height: 1.8rem;
}

.team-header {
    font-size: 1.73rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #3D3E48;
    line-height: 2rem;
    margin-bottom: 0.625rem;
}

.our-team {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.125rem;
    margin-bottom: 9.6875rem;
}

.team-image {
    width: 12.5rem;
    height: 15.4375rem;
}

.name {
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    line-height: 2.16rem;
}

.role {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #3D3E48;
    line-height: 1.8rem;
}

.tour-options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 9.625rem;
    text-align: center;
}

.options-image {
    width: 8rem;
    height: 8rem;
    margin-bottom: 0.625rem;
}

.description {
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #A8A7AB;
    line-height: 2.16rem;
}