:root {
  --primary-color: #3D3E48;
  --secondary-color: #A8A7AB;
  --text-black: #000000;
  --font-family: "Poppins", sans-serif;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --font-size-large: 1.73rem;
  --font-size-medium: 1.2rem;
  --font-size-small: 1rem;
}

.main {
  margin: 0px 40px;
}

.about__travelaja {
  margin-bottom: 6.25rem;
  display: flex;
  align-items: center;
}

.about__image {
  margin-left: 1.25rem;
  width: 23.75rem;
  height: 30.875rem;
}

.about__title {
  margin-bottom: 1.25rem;
  line-height: 2rem;
  font-size: var(--font-size-large);
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-style: normal;
  color: var(--primary-color);
}

.about__spacing {
  margin-bottom: 0.625rem;
}

.about__pharagraph {
  line-height: 1.8rem;
  font-size: var(--font-size-small);
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  color: var(--primary-color);
}

.team__title {
  margin-bottom: 0.625rem;
  font-size: var(--font-size-large);
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-style: normal;
  color: var(--primary-color);
  line-height: 2rem;
}

.team__components {
  margin-top: 3.125rem;
  margin-bottom: 9.6875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team__image {
  width: 12.5rem;
  height: 15.4375rem;
}

.team__name {
  font-size: var(--font-size-medium);
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  color: var(--text-black);
  line-height: 2.16rem;
}

.team__role {
  font-size: var(--font-size-small);
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  color: var(--primary-color);
  line-height: 1.8rem;
}

.options {
  margin-bottom: 9.625rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.options__image {
  margin-bottom: 0.625rem;
  width: 8rem;
  height: 8rem;
}

.options__description {
  font-size: var(--font-size-medium);
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  color: var(--secondary-color);
  line-height: 2.16rem;
}