:root {
  --primary-color: #3D3E48;
  --secondary-color: #A8A7AB;
  --text-black: #000000;
  --text-white: #fff;
  --footer-background-color: #295943;
  --font-family: "Poppins", sans-serif;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --font-size-xlarge: 2.07rem;
  --font-size-large: 1.73rem;
  --font-size-medium: 1.2rem;
  --font-size-small: 1rem;
  --font-size-mobile: 0.8rem;
}

.main {
  margin: 0px 40px;
}

.about__travelaja {
  margin-bottom: 6.25rem;
  display: flex;
  align-items: center;
}

.about__image {
  margin-left: 1.25rem;
  width: 23.75rem;
  height: 30.875rem;
}

.about__title {
  margin-bottom: 1.25rem;
  line-height: 2rem;
  font-size: var(--font-size-large);
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-style: normal;
  color: var(--primary-color);
}

.about__spacing {
  margin-bottom: 0.625rem;
}

.about__pharagraph {
  line-height: 1.8rem;
  font-size: var(--font-size-small);
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  color: var(--primary-color);
}

.team__title {
  margin-bottom: 0.625rem;
  font-size: var(--font-size-large);
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-style: normal;
  color: var(--primary-color);
  line-height: 2rem;
}

.team__pharagraph {
  line-height: 1.8rem;
  font-size: var(--font-size-small);
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  color: var(--primary-color);
}

.team__components {
  margin-top: 3.125rem;
  margin-bottom: 9.6875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team__image {
  width: 12.5rem;
  height: 15.4375rem;
}

.team__name {
  font-size: var(--font-size-medium);
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  color: var(--text-black);
  line-height: 2.16rem;
}

.team__role {
  font-size: var(--font-size-small);
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  color: var(--primary-color);
  line-height: 1.8rem;
}

.options {
  margin-bottom: 9.625rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.options__image {
  margin-bottom: 0.625rem;
  width: 8rem;
  height: 8rem;
}

.options__description {
  font-size: var(--font-size-medium);
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  color: var(--secondary-color);
  line-height: 2.16rem;
}

.footer {
  padding: 3.125rem 4.375rem 3.125rem 4.375rem;
  background-color: var(--footer-background-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__aboutus {
  width: 17.375rem;
}

.footer__aboutus h3 {
  font-size: var(--font-size-xlarge);
  color: var(--text-white);
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
}

.footer__aboutus p {
  margin-top: 1.25rem;
  font-size: var(--font-size-small);
  color: var(--text-white);
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  line-height: 1.5rem;
}

.footer__aboutus h4 {
  margin-top: 2.5rem;
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
  line-height: 2.16rem;
  color: var(--text-white);
}

.footer__link {
  margin-top: 0.625rem;
  display: flex;
  gap: 0.625rem;
}

.footer__links h4 {
  color: var(--text-white);
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
  line-height: 2.16rem;
}

.footer_link-list {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.footer__link-items a {
  color: var(--text-white);
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-small);
  line-height: 1.5rem;
}

@media screen and (max-width: 480px) {
  .main {
    margin: 1rem 1.5rem;
  }

  .about__travelaja {
    margin-bottom: 3rem;
    display: block;
    align-items: center;
    text-align: center;
  }

  .about__image {
    margin-left: 0rem;
    width: 18.75rem;
    height: 24.375rem;
  }

  .about__title {
    margin-bottom: 1rem;
    font-size: var(--font-size-medium);
  }

  .about__pharagraph {
    margin-bottom: 1rem;
    line-height: 1.5rem;
    font-size: 0.8rem;
  }

  .team__title {
    margin-bottom: 0.3rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .team__pharagraph {
    text-align: center;
  }

  .team__components {
    margin-top: 1rem;
    margin-bottom: 5rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .team__name {
    font-size: var(--font-size-small);
    font-style: normal;
    line-height: 1rem;
  }

  .team__role {
    font-size: var(--font-size-mobile);
  }

  .options {
    margin-bottom: 5rem;
    flex-direction: column;
    gap: 3rem;
  }

  .options__image {
    margin-bottom: 0rem;
  }

  .footer__links {
    margin-right: 3rem;
  }

  .footer_link-list {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    gap: 0.3rem;
  }
}

@media screen and (max-width: 768px) {
  .about__travelaja {
    margin-bottom: 4rem;
  }

  .about__title {
    margin-bottom: 1rem;
    line-height: 2rem;
    font-size: var(--font-size-medium);
  }

  .about__pharagraph {
    line-height: 1.5rem;
    font-size: var(--font-size-mobile);
  }

  .team__components {
    margin-top: 1rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }

  .footer__link {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .team__components {
    margin-top: 1rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
  }
}